# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps

# Packages
*.vip

# Binary folders
_build/*
_builds/*
_built_packages/*
.src/
